.rank_title {
    font-family: 'Arial', sans-serif;
    font-size: 30px; 
    font-weight: bold; 
    color: blue; 
  }


  .rank_title_under_text {
    font-weight: bold;
    font-size: 20px; 
    color: black;
    margin-bottom: 25px;
  }

  .line_design {
    border-color: rgba(0, 0, 0, 1); /* 검은색 선으로 설정 */
    border-width: 40px; /* 선의 굵기를 조절 */
}


