.notii {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .notii-title {
    margin-bottom: 20px;
  }
  
  .notii-table {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .notii-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  .notii-table th, .notii-table td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: middle; /* 수직 가운데 정렬 */
    text-align: center; /* 기본적으로 가운데 정렬 */
  }
  
  .notii-table th {
    background-color: #f0f0f0;
  }
  
  .notii-table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .notii-button {
    margin-top: 20px;
  }
  
  /* 제목 열의 td 요소만 왼쪽 정렬 */
  .notii-table tbody td.title-cell {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px; /* 원하는 최대 너비를 설정 */
  }
  