.notii {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.notii-title {
  margin-bottom: 20px;
}

.notii-table {
  max-width: 800px;
  margin: 0 auto;
}

.notii-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.notii-table th, .notii-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.notii-table th {
    background-color: #f0f0f0;
}

.notii-table tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.notii-button {
  margin-top: 20px;
}
